/* main site */
body {
    background-color: #A9CEF4;
}
nav {
    background-image: url(imgs/starbg.jpg);
}
.btn {
    background-image: url(imgs/swirlbg.jpg);
    font-family: "pf-reminder", sans-serif;
    font-weight: 400;
font-style: normal;
}
.dropdown-menu {
    background-color: rgb(203, 216, 245);
}
/* text */
h1, h5 {
    font-family: "embury-text", serif;
    font-weight: 700;
    font-style: normal;
}
p {
    font-family: "fenwick", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li {
    font-family: "pf-reminder", sans-serif;
    font-weight: 400;
    font-style: normal;
}
span {
    font-family: "bigcity-grotesque-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
#top {
    font-family: "bigcity-grotesque-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: #015d90;
}

.navbar-text {
    color: white;
    background-color: #015d90;
}
img {
    border: solid 5px white;
}
.card {
    background-image: url(imgs/cardbluebg.jpg);
    background-repeat: no-repeat;
    border: solid 5px #401f3e;
    box-shadow: 10px 10px 2px #312853;
}
footer {
    background-image: url(imgs/lightbluefooterbg.jpg);
}
.card-body:hover {
    background-color: #1c476b;
    color: white;
}